<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmitTodo(f)">
    <div>
        <label for="name">Name:</label>
        <input readonly maxlength="20" required id="name" #name="ngModel" [(ngModel)]="form.name" type="text" name="name">
        <small class="form_error" *ngIf="name.errors && f.submitted">Name is required.</small>
    </div>
    <div>
        <label for="description">Description:</label>
        <input readonly maxlength="50" required id="description" #description="ngModel" [(ngModel)]="form.description" type="text" name="description">
        <small class="form_error" *ngIf="description.errors && f.submitted">Description is required.</small>
    </div>
    <div>
        <input [disabled]="name.errors || description.errors" type="submit" value="delete">
    </div>

    <div>
        <small *ngIf="isTodoDeleted" class="form_success">Todo was deleted successfully!</small>
    </div>
</form>